@import url(lib/reset.css);





div.center-wrapper {

	text-align: center;

}





body {

	font-family: "Courier New", monospace;
	font-size: 16px;

}



h1 {

	font-size: 64px;

	padding: 0.5em;

	margin: 1em;

}





div.showcase {

	display: inline-block;


	width: 66%; /*TODO: a more responsive width*/

}



.column {

	display: flex;

}


.column > a {

	display: block;

	flex: 1;

	width: 25%;

}



.tile {

	display: inline-block;

	vertical-align: top;


	/*
	margin: 1px;
	*/

	padding: 2em 1em 4em 1em;


	text-align: center;

	text-decoration: none;

}



h2 {

	font-size: 32px;

	padding: 0.5em;

}




#treejs {

	background:
		url("../assets/crt.png") repeat,
		url("../assets/images/Screen Shot 2016-02-23 at 5.35.09 PM.png") no-repeat center/100%; /* TODO: make background more flexible */

	color: #FFF;
}



#gidungjido {

	background:
		url("../assets/crt.png") repeat,
		url("../assets/images/gidungjido.png") no-repeat center/100%;

	color: #FFF;

}




#cu {

	background:
		url("../assets/crt.png") repeat,
		url("https://raw.githubusercontent.com/jangdan/cu/master/screenshot.png") no-repeat center/100%;


	color: #FFF;

}



#mechanics {

	background:
		url("../assets/crt.png") repeat,
		url("https://raw.githubusercontent.com/jangdan/mechanics/master/screenshot.png") no-repeat center/100%;


	color: #FFF;

}




#electricmango {

	background:
		url("../assets/crt.png") repeat,
		url("http://2.bp.blogspot.com/-J4irqc75s5k/VMdXWm-m2nI/AAAAAAAABB4/_Zj-DhnIf5Y/s0/%25EC%2582%25AC%25EC%25A7%2584%2B6.jpg") no-repeat center/100%;


	color: #FFF;

}




#amoeba {

	background:
		url("../assets/crt.png") repeat,
		url("../assets/images/Screen Shot 2016-03-25 at 11.48.14 PM.png") no-repeat center/100%;


	color: #FFF;

}